
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.headerlogo{

        height: 50px;
    margin: 10px 0 0 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.left-nav{
    width: 12%;
    display: inline-block;
      height: :100%;
}

.content-area{
    width: 88%;
    display: inline-block;
     background-color: #f1f1f1;
}

.userinfo {
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}
.horizontalnav {
    background-color: #800080;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.horizontalnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
}

/* Change the color of links on hover */
.horizontalnav a:hover {
    border-bottom: 2px solid white;
}

/* Add a color to the active/current link */
.horizontalnav a.active {
    border-bottom: 2px solid white;
    color: white;
}
.tabletitle{
    margin-top: 30px;
    color: #4d4d4d;
    font-size: 18px;
}
.btnimages{

	   float: right;
    margin-top: -30px;
}
table {
    font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
    margin-top:15px; 
    border: 1px solid;
    padding: 10px;
    color: #4d4d4d;
    box-shadow: 0px 0px 1px 1px #888888;


}

td, th {
    border-bottom: : 0px solid #4d4d4d;
    text-align: center;
    padding: 8px;
}
tr.border_bottom  {
  border-bottom:1pt solid #4d4d4d;
}
.btncontinue {
    background-color: #0ec0ce;
    border-radius: 27px;
    height: 30px;
    margin-right: 55%;
    width: 120px;
    color: white;
    border: none;
}
.left-nav{
    height: 100%;
    margin-top: 0px;
    float: left;
    margin-left: 0px;
    width: 12%;
}

.left-nav a {
   
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    color: #f2f2f2;
    text-align: center;
    background-color: #808080;
    margin-bottom: -2px;
}

.left-nav a.active {
     background-color: #696969;
    color: white;
}
.logoutbtn{
    height: 70px;
    width: 70px;
}
.tablecontainer{
    padding-left: 30px;
    margin: 25px 0;
}

.table-content{
    padding: 30px;
}